@import '../../styles/base';

.country-card {
  padding: 10px 0;
  @include alignContent(row, center, center);

  &__container {
    @include alignContent(row, space-between, center);
    width: 60%;
  }

  &__wrapper {
    @include alignContent(row, space-between, center);
    width: 900px;
    img {
      max-width: 150px;
      height: 100px;
    }
  }

  &__innerwrapper {
    @include alignContent(row, flex-start, center);
    width: 200px;
  }

  &__name {
    color: $black;
  }

  &__region {
    color: $blacklight;
  }

  .button {
    background-color: $primary;
    color: $black;
    font-family: $font-family;
    letter-spacing: 1px;
    &:disabled {
      background-color: $grey;
    }

    &:hover {
      background-color: $primaryhover;
      color: $white;
    }
  }
}
